<template>
  <v-container>
    <h1 class="text-center">{{ title }}</h1>
    <v-data-table
      :headers="headers2"
      :items="posts"
      item-key="id">
      <template v-slot:top>
        <div class="text-right">
          <v-btn class="ma-2 primary" small tile @click="newArticle">글쓰기</v-btn>
        </div>
      </template>
      <template v-slot:item="{ item, index }">
        <tr @click="getArticle(item.id)">
          <td class="pointer">{{ index + 1}}</td>
          <td class="pointer">
              {{ item.doc.title }}
          </td>
          <td class="pointer">
              <div v-if="item.doc.tags">
              <v-chip v-for = "(tag, index) in item.doc.tags.split(',')" :key="index">
                {{ tag }}
              </v-chip>
              </div>
          </td>
          <td class="text-center pointer">
            {{ JSON.parse(item.doc.author).displayName }}
          </td>
          <td class="text-center pointer">{{ new Date(item.doc.created * 1000).toLocaleString() }}</td>
          <td class="text-center" v-if="isLoggedIn">
            <v-btn class="ma-2" 
              :color="item.doc.published ? 'success' : null" 
              v-text="item.doc.published ? 'Published' : 'Draft'">
            </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <BBSEditor v-model="dialog" :collection="collection" />
    <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :is-full-page="fullPage">
    </loading>
  </v-container>
</template>

<script>
import BBSEditor from './BBSEditor'
import axios from 'axios'
import Loading from 'vue-loading-overlay'
import API from './config.js'
import 'vue-loading-overlay/dist/vue-loading.css';
const EDITORS = ['kecheon@gmail.com', 'jentleoh@gmail.com', 'borammm1106@gmail.com']
const Article = function (title, link, description, keywords, tags, body, author, created, published) {
  let article = {}
  article.title = title
  article.link = link
  article.description = description
  article.author = author
  article.created = created
  article.body = body
  article.keywords = keywords
  article.tags = tags
  article.published = published
  return article
}

export default {
  props: {
    title: {
      default: '게시판',
      type: String
    },
    collection: {
      default: 'articles',
      type: String
    }
  },
  components: { 
    BBSEditor,
    Loading
  },
  data () {
    return {
        editor: false,
        article: null,
        showArticle: false,
        dialog: false,
        headers: [
          { text: '번호', align: 'center', sortable: false, value: 'index' },
          { text: '제목', align: 'center', sortable: false, value: 'title' },
          { text: 'Tags', align: 'center', sortable: false, value: 'tags' },
          { text: '지은이', align: 'center', sortable: false, value: 'author' },
          { text: '일시', align: 'center', sortable: false, value: 'created' },
          { text: '출판', align: 'center', sortable: false, value: 'published' }
        ],
        rowsPerPageItems: [
          10, 20,
          { "text":"$vuetify.dataIterator.rowsPerPageAll","value":-1 }
        ],
        isLoading: false,
        fullPage: true,
    }
  },
  // async beforeCreated () {
  //   },
  async created () {
    // await this.$store.dispatch('bbs1000/SET_USER')
    await this.getArticles()
  },
  computed: {
    pluginOptions() {
      // _customCounterOptions will be added as a prop on component registration.
      // it will be the plugin's options object
      return this._customBBS1000Options || {}
    },
    // helper to get the name of our injected plugin using the namespace option
    injectedPluginName() {
      const { pluginOptions } = this
      return pluginOptions.namespace ? '$' + pluginOptions.namespace : undefined
    },
    // helper to return the current value of the counter using our injected plugin function
    posts() {
      const { injectedPluginName } = this
      return injectedPluginName
        ? this[injectedPluginName].posts() // same as this.$count.value()
        : undefined
    },
    isLoggedIn: function () {
      console.log(this.$store.getters['bbs1000/getUser'] !== null)
      return this.$store.getters['bbs1000/getUser'] !== null
    },
    isOwner: function () {
      if (this.isLoggedIn) {
        if (this.article) {
          if (JSON.parse(this.article.author).uid) {
            return this.$store.getters.getUser.uid === JSON.parse(this.article.author).uid
          }
          return false
        } else {
          // create new Article
          return true
        } 
      }
      return false
    },
    isEditor: function () {
      const user = this.$store.getters.getUser
      if (user) {
        return this.isOwner || EDITORS.includes(this.$store.getters.getUser.email)
      }
      return false
    },
    headers2: function () {
      if (this.isLoggedIn) {
        return this.headers
      } else {
        return this.headers.filter(header => {
          if (header.text !== '출판') { return header }
        })
      }
    }
  },
 
  methods: {
    getArticles: async function () {
      this.isLoading = true
      const { data } = await axios.get(API + this.collection + '/rarticles')
      const articles = data.map(change => {
        const doc = Article(
          change.doc.title,
          change.doc.link,
          change.doc.description,
          change.doc.keywords,
          change.doc.tags,
          change.doc.body,
          change.doc.author,
          change.doc.created._seconds,
          change.doc.published
        )
        return { 
          id: change.id,
          doc: doc
        }
      })
      this.$store.dispatch('bbs1000/SET_POSTS', articles)
      this.isLoading = false
    },
    getArticle: async function (id) {
      await this.$store.dispatch('bbs1000/DELETE_ARTICLE')
      this.isLoading = true
      const { data } = await axios.get(API + this.collection + `/articles/${id}`)
      data.id = id
      await this.$store.dispatch('bbs1000/SET_ARTICLE', data)
      this.dialog = true
      this.isLoading = false
    },
    newArticle() {
      if (!this.isLoggedIn) {
        this.$router.push('/auth/login')
      }
      this.$store.dispatch('bbs1000/DELETE_ARTICLE')
      this.dialog = !this.dialog
    },
  }
}
</script>

<style scoped>
  a {
    text-decoration: none;
  }
  .pointer {
    cursor: pointer;
  }
</style>
