<template>
  <v-container>
    <v-dialog :value="value" @input="$emit('input')">
      <v-card>
        <v-container>
          <v-list-item-title 
            class="headline mb-1 text-center" 
            v-text="isEditor ? '글•편집하기' : '글•읽기'">
          </v-list-item-title>
          <v-list-item class="title">
            <v-text-field
              :disabled="!isEditor"
              type="text"
              v-model="form.title"
              required
              hint="SEO friendly please. Unique ID로 사용할 것이므로 다른 문서와 제목이 중복되면 안됩니다."
              label="제목"
              placeholder="글의 제목을 써넣어 주세요">
            </v-text-field>
          </v-list-item>
          <v-list-item class="title">
            <v-text-field
              disabled
              type="text"
              v-model="form.link"
              hint="URL value for SEO. Unique ID로 사용할 것이므로 다른 문서와 제목이 중복되면 안됩니다."
              label="URL value"
              placeholder="자동 완성됩니다">
            </v-text-field>
          </v-list-item>
          <v-list-item>
            <v-text-field
              :disabled="!isEditor"
              v-model="form.label"
              hint="menu label"
              label="Label"
              placeholder="Menu Label">
            </v-text-field>
          </v-list-item>
          <v-list-item>
            <v-text-field
              :disabled="!isEditor"
              v-model="form.description"
              hint="SEO를 위해 이 글의 meta name='description'에 들어갈 내용입니다."
              label="Description"
              placeholder="SEO용 내용 설명">
            </v-text-field>
          </v-list-item>
          <v-list-item>
            <v-text-field
              :disabled="!isEditor"
              v-model="form.keywords"
              hint="SEO를 위해 이 글의 meta name='keywords'에 들어갈 내용입니다."
              label="키워드"
              placeholder="comma seperated keywords">
            </v-text-field>
          </v-list-item>
          <v-list-item>
            <v-text-field
              :disabled="!isEditor"
              v-model="form.tags"
              hint="어느 사이트에 올릴지를 결정하는데 사용됩니다."
              label="Tags"
              placeholder="comma seperated tags">
            </v-text-field>
          </v-list-item>
          <div v-if="!form.published && isEditor">
            <jodit-vue v-model="form.body" :config="joditConfig"/>
            <file-uploader v-if="isEditor" v-on:downloadURL="getDownloadUrl" 
              v-bind:oldImgUrl="oldImgUrl" :editor="true" :storageDir="collection"/>
            <FireStorage :storageDir="collection"/>
          </div>
          <div v-else>
            <div v-html="form.body"></div>
          </div>
          <div class="text-center">
            <v-switch v-if="isEditor" v-model="form.published" :label="form.published ? 'Published' : 'Draft'"></v-switch>
            <span v-if="!form.published">
              <v-btn class="ma-2" small tile v-show="isEditor" @click="onReset">Reset</v-btn>
              <v-btn class="ma-2 warning" small tile v-show="isOwner" @click="onDelete" type="button">삭제</v-btn>
            </span>
            <v-btn class="ma-2 success" small tile v-show="isEditor" @click="onSubmit">저장</v-btn>
            <v-btn class="ma-2 dark" small tile color="teal" @click.native="$emit('input')">닫기</v-btn>
          </div>
        </v-container>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
import FileUploader from './FileUploader'
import FireStorage from './FireStorage'
const EDITORS = ['kecheon@gmail.com', 'jentleoh@gmail.com', 'borammm1106@gmail.com']
import API from './config.js'

export default {
  props: ['value', 'collection', 'docRef'],
  components: { 
    FileUploader, FireStorage
  },
  data () {
    return {
      oldImgUrl: '',
      fullPage: true,
      editor: false,
      joditConfig: {},
      user: null,
      imgUrl: ''
    }
  },
  methods: {
    async onSubmit(evt) {
      this.isLoading = true
      evt.preventDefault()
      let endPoint = ''
      let method = ''
      if (this.form.id) {
        endPoint = `${API}${this.collection}/articles/${this.form.id}`
        method = 'PATCH'
      } else {
        endPoint = `${API}${this.collection}/articles`
        method = 'POST'
      }
      try {
        let author = '{"displayName":"anonymous"}'
        if (this.$store.getters['bbs1000/getUser'] !== null) {
          if (this.isOwner) {
            author = JSON.stringify(this.$store.getters['bbs1000/getUser'])
          } else {
            author = this.$store.getters['bbs1000/getArticle'].author
          }
        }
        const data = {
          title: this.form.title,
          link: this.form.link,
          label: this.form.label,
          description: this.form.description,
          keywords: this.form.keywords,
          tags: this.form.tags,
          body: this.form.body,
          author: author,
          published: this.form.published
        }
        const res = await axios({ method: method, url: endPoint, data: data })
        if (res.status === 200) {
          if (res.data.msg === 'Created') {
            let posts = this.$store.getters['bbs1000/getPosts']
            posts.unshift({ id: res.data.id, doc: res.data.doc, tags: res.data.tags })
            this.$store.dispatch('bbs1000/SET_POSTS', posts)
            alert('Created')
          }
          if (res.data.msg === 'Updated') {
            let posts = this.$store.getters['bbs1000/getPosts']
            posts = posts.map(post => {
              if (post.id === res.data.id) {
                post.doc = res.data.doc
              }
              return post
            })
            this.$store.dispatch('bbs1000/SET_POSTS', posts)
            alert('Updated')
          }
          this.$emit('input')
          this.isLoading = false
        } else {
          alert('시스템 또는 통신망에 이상이 있습니다. 저장되지 못했습니다!')
        }
      } catch(err) {
        alert(err)
      }
    },
    async onReset(evt) {
      if (evt) {
        evt.preventDefault()
      }
      this.form.id = null
      this.form.title = ''
      this.form.link = ''
      this.form.label = ''
      this.form.description = ''
      this.form.keywords = ''
      this.form.tags = ''
      this.form.body = ''
      this.form.published = false
    },
    async onDelete(evt) {
      this.isLoading = true
      evt.preventDefault()
      if(confirm("삭제요? 돌이킬 수 없는 작업입니다!")){
        try {
          await axios.delete(API + this.collection + '/articles/' + this.form.id, {})
          let posts = this.$store.getters['bbs1000/getPosts']
          posts = posts.filter(post => {
            if (post.id !== this.form.id) {
              return post
            }
          })
          this.$store.dispatch('bbs1000/SET_POSTS', posts)
          this.$emit('input')
          this.isLoading = false
        } catch (err) {
          this.isLoading = false
          alert(err)
        }
      }
    },
    getDownloadUrl (v) {
      this.imgUrl = v
    },
		formUpdated: function(newV) { 
      const re = /[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9]/gi
      this.$set(this.form, 'link', newV.title.replace(re, '_'))
    },
    onCancel: function () {
      console.log('canceled...')
    }
  },
  created: function () {
    this.$watch('form', this.formUpdated, { deep: true })
  },
  computed: {
    form: { 
      get () {
        return this.$store.getters['bbs1000/getArticle']
      },
      set (val) {
        this.$store.dispatch('bbs1000/SET_ARTICLE', val)
      }
    },
    isLoggedIn: function () {
      return this.$store.getters['bbs1000/getUser'] !== null
    },
    isOwner: function () {
      if (this.isLoggedIn) {
        if (this.$store.getters['bbs1000/getArticle'].id) {
          const articleAuthor = JSON.parse(`${this.$store.getters['bbs1000/getArticle'].author}`)
          return this.$store.getters['bbs1000/getUser'].uid === articleAuthor.uid
        } else {
          // create new Article
          return true
        } 
      }
      return false
    },
    isEditor: function () {
      const user = this.$store.getters['bbs1000/getUser']
      if (user) {
        return this.isOwner || EDITORS.includes(user.email)
      }
      return false
    }
  }
}
</script>
