<template>
<v-container>
     <v-btn block color="secondary"
      @click.native="getFiles">
       {{ storageDir }}에 저장된 이미지에서 선택
    </v-btn>
    <div v-if="imagesList.length > 0">
         <v-card
            class="d-flex flex-wrap"
            color="grey lighten-2"
            flat
            tile
            >
            <v-card
                v-for="(image, key) in imagesList" :key="key"
                class="pa-2 ma-1"
                outlined
                tile>
                <img width="200px" :src="image.url" :alt="image.name"><br>
                {{ image.name }}
            </v-card>
        </v-card>
    </div>
</v-container>
</template>

<script>
export default {
    props: ['storageDir'],
    data () {
        return {
            imagesList: []
        }
    },

    methods: {
        getFiles: async function () {
            if (this.imagesList.length > 0) return
            const storageRef = this.$storage.ref()
            try {
                const response = await storageRef.child('images').child(this.storageDir).listAll()
                const refs = response.items
                refs.forEach(async item => {
                    const url = await item.getDownloadURL()
                    this.imagesList.push({ url: url, name: item.name })
                })
            } catch (err) {
                console.log(err)
            }
        }
    }
}
</script>

<style>

</style>
